{
  "presets": ["env"],
  "env": {
    "development": {
      "plugins": [
        ["transform-decorators-legacy"]
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        ["transform-decorators-legacy"]
      ]
    }
  }
}
